<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form style="padding-top: 70px;">
            <div class="card">
                <h4 class="text-center">Meeting Scheduler 📆</h4>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"> &nbsp;&nbsp;Meeting Topic</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Topic">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"> &nbsp;&nbsp;Number of attendees</label>
                    <input type="number" class="form-control" id="formGroupExampleInput"
                        placeholder="Select number of participants">
                </div>
                <div class="mb-3">
                    <label for="startTime" class="form-label"> &nbsp;&nbsp;Meeting Start Time</label>
                    <br>
                    &nbsp;&nbsp;<input type="datetime-local" id="startTime" name="startTime">
                </div>
                <div class="mb-3">
                    <label for="endTime" class="form-label"> &nbsp;&nbsp;Meeting End Time</label>
                    <br>
                    &nbsp;&nbsp;<input type="datetime-local" id="endTime" name="endTime">
                </div>
                <button type="submit" class="btn btn-primary">Schedule</button>

            </div>
        </form>
    </div>
    <div class="col">
    </div>